logs
files/large_scale_nodes/*nodes*
files/large_scale_nodes/*toml
files/large_scale_nodes/*.info
files/nodes_manager/config-sample/tools/bin/*
files/nodes_manager/new-nodes/*
files/nodes_manager/*.info
