[defaults]
# (boolean) By default Ansible will issue a warning when received from a task action (module or action plugin)
# These warnings can be silenced by adjusting this setting to False.
;action_warnings=True

# (pathlist) Comma separated list of Ansible inventory sources
inventory=./inventory/hosts

# (path) File to which Ansible will log on the controller. When empty logging is disabled.
log_path=./logs/ansible.log

# (boolean) Set this to "False" if you want to avoid host key checking by the underlying tools Ansible uses to connect to the host
host_key_checking=False


